/* common */
.bg_primary{
  background-color: #2c3e50;
}
.bg_primary_300{
  background-color: #3a546d;
}
.bg_secondary{
  background-color: #1abc9c;
}

/* typo */
body{
  font-family: 'Karla', sans-serif;
}
h2{
  font-weight: 600;
}

/* buttons */
.btn-primary{
  background-color: #1abc9c;
  border: #1abc9c;
}

/* header */
header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: #fff;
}
header a{
  color: #fff;
  text-decoration: none;
}
header .bar a{
  padding: 5px 10px;
  border: 2px solid #fff;
  border-radius: 5px;
}
header li{
  display: inline-block;
  list-style: none;
  margin-left: 15px;
  font-size: small;
}

/* main */
section{
  padding: 40px 0;
}
#hero{
  margin-top: 80px;
  color: #fff;
}
#hero .avatar img{
  width: 150px;
}
#portfolio,
#contact{
  color: #2c3e50;
}
.portfolio-item{
  margin: 10px 0;
  border-radius: 10px;
  overflow: hidden;
}
.portfolio-item img{
  width: 100%;
}
#about{
  color: #fff;
}
.about-content > div{
  margin-top: 20px;
}
.form-control::-webkit-input-placeholder{
  color: #2c3e50;
  font-weight: 600;
}
#contact .form-control{
  border: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 0;
}

/* footer */
footer{
  text-align: center;
  color: #fff;
}

.footer-top{
  background-color: #3a546d;
}

.footer-bottom{
  background-color: #2c3e50;
}